.App {
  min-height: 100vh;
}

.under-navbar {
  margin-top: 12vh !important;
}

.recipe-image {
  object-fit: cover;
  height: 80vh;
}

.recipe-ingredient-list {
  width: 100%;
  margin-top: 0;
}

.recipe-ingredient-item {
  margin-bottom: 1.5vh;
}

.recipe-ingredients-title {
  text-align: center;
  margin-top: 1.5vh !important;
}

.recipe-direction {
  margin-bottom: 2vh;
}

.recipe-favorite-icon:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-clickable {
  margin: 6px;
}

.footer-clickable:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-facebook:hover {
  color: #4267b2;
}

.footer-twitter:hover {
  color: #1d9bf0;
}

.footer-youtube:hover {
  color: #ff0000;
}

.footer-instagram:hover {
  color: #f09433;
}

.footer-pinterest:hover {
  color: #e60023;
}

.footer-title:hover {
  cursor: pointer;
}

.form-ingredient-item {
  margin-left: 1ch;
  margin-bottom: 1ch;
}

.form-ingredient-item-container {
  display: flex;
  align-items: center;
}

.form-ingredient-text {
  width: 61ch;
}
