.recipe-image {
  object-fit: cover;
  height: 80vh;
}

.recipe-ingredient-list {
  width: 100%;
}

.recipe-ingredient-item {
  margin-bottom: 1.5vh;
}

.recipe-ingredients-title {
  text-align: center;
}

.recipe-direction {
  margin-bottom: 2vh;
}
